body {
  background: url("elitefon.ru-25790.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.title {
  text-align: center;
  font-size: 40px;
}
.list{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 30px;
}