.container-one container-two container-three {
    display: inline-flex;
    justify-content: space-between;

}

.content-item-wrapper {
    display: inline-flex;
    position: relative;
    height: 49%;
    width: 49%;
   padding: 3px;
}

.content-item_footer {
    display: flex;
    padding: 1.3rem;
}

.content-item_tittle {
    flex: 1 1 90%;
    padding-left: 1.2rem;
    font-family: Kerola-light;
}

.content-item_tittle-head {
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
    opacity: 0.6;
    color: #1c1b1b;
}

.content-item_tittle-content {
    font-weight: 400;
    font-size: 1.5rem;
}

.content-item {
    margin: 1rem 0;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
    width: 100%;
}

.content-item:hover {
    box-shadow: 2px 8px 20px 0 rgba(31, 32, 68, 0.25);
    transform: scale(1.02, 1.02);
}