#header_fix {
  top: -30px;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  padding: 15px 0;
}

.default {
  position: fixed;
  top: 0;
  background-color: #002E16;
}

.main-caption__fond {
  position: absolute;
  width: 550px;
  height: 225px;
  margin-top: -150px;
  margin-left: 500px;
  opacity: 0.2;
}

.header__logo {
  margin-top: 48px;
  margin-left: 10%;

  &_img {
    width: 242px;
    height: 34px;
  }
}

.header__menu {
  margin-top: 48px;
  float: right;
}

.topnav__link {
  color: #ffffff;
  text-align: center;
  padding: 5px 20px;
}

.topnav__link:hover {
  border-bottom: 3px solid #00e676;
}

.topnav__icon {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header__menu {
    margin-left: 20%;
  }
}
@media screen and (min-width: 980px) and (max-width: 1199px) {
  .header__menu {
    margin-left: 15%;
  }
  .main-caption__fond {
    width: 45%;
    height: 20%;
  }
}

@media screen and (min-width: 768px) and (max-width: 979px) {
  .header__logo {
    margin-left: 2%;
  }
  .header__menu {
    margin-left: 3%;
  }
  .main-caption__fond {
    width: 45%;
    height: 20%;
    margin-left: 45%;
  }
}

@media screen and (max-width: 767px) {
  .topnav__link {
    display: none;
  }
  .topnav__icon {
    float: right;
    display: block;
    color: #FFFFFF;
    font-size: 25px;
  }
  .header__menu {
    width: 100%;
  }
  .topnav.responsive {
    position: relative;
    top: 20px;
    left: -250px;
  }
  header.topnav.responsive {
    height: 340px;
  }
  .topnav.responsive .topnav__icon {
    position: absolute;
    top: -10px;
    right: -210px;
  }
  .topnav.responsive .topnav__link {
    display: block;
    text-align: left;
  }
  .header__logo {
    margin-left: 10px;
    margin-top: 25px;
  }
  &_img {
    max-width: 100%;
    height: auto;
  }
  .main-caption__fond {
    width: 60%;
    height: 15%;
    margin-left: 32%;
    margin-top: -100px;
  }
}