.companies-title {
  margin-left: 10%;
  margin-top: 130px;
  margin-bottom: 60px;
  color: #FFFFFF;
}

.companies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.companies__img {
  width: 445px;
}

.companies__img img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .companies__img {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 979px) {
  .companies__img {
    width: 33%;
  }
}

@media screen and (min-width: 980px) and (max-width: 1199px) {
  .companies__img {
    width: 33%;
  }
}

