.main-caption {
  color: #FFFFFF;
  font-size: 30px;
  margin-left: 10%;
  margin-top: 260px;
  width: 50%;
}

.main-caption__underline {
  display: block;
  width: 20%;
  height: 10px;
  margin-left: 10%;
  border-radius: 5px;
  background-color: #00E676;
  position: absolute;
  left: 0;
  transition: transform 0.5s;
  transform-origin: 1% center;
  transform: scaleX(0);
}

.main-caption__img {
  margin: 250px 440px;
  width: 99px;
  height: 72px;
}

.main-caption:hover .main-caption__underline {
  transform: scaleX(0.5);
  transform-origin: 0 center;
}

.about-astronomy {
  margin-left: 10%;
  width: 1200px;
}

.about-astronomy__img {
  width: 50%;
  margin-left: 400px;
  margin-top: -100px;
}

.about-astronomy__text {
  color: #FFFFFF;
  margin-top: -430px;
}

.about-astronomy__content {
  color: #FFFFFF;
  background-color: black;
  width: 37%;
  margin-top: 10px;
  font-size: 12px;
}

.benefits-title {
  color: #FFFFFF;
  position: absolute;
  margin-top: 200px;
  margin-left: 10%;
}

.benefits {
  margin-top: 250px;
  margin-left: 250px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: stretch;

  &__img {
    width: 50%;
    margin: 5%;
  }
  &__main {
    margin: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
  }
  &__text {
    margin: 5%;
    font-size: 18px;
  }
}

.benefits-info {
  width: 280px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-caption {
    width: 100%;
  }
  .main-caption__img {
    width: 10%;
    height: 10%;
    margin: 25% 35%;
  }
  .about-astronomy {
    width: 90%;
    margin: auto;

    &__img {
      margin: auto 130px;
      width: 90%;
    }
    &__text {
      margin-top: -50%;
      width: 90%;
    }
  }
  .about-astronomy__content {
    width: 70%;
  }
  .benefits {
    width: 90%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 767px) {
  .main-caption {
    width: 100%;
    height: 100%;
    font-size: 90%;
    text-align: left;
    margin-top: 50%;
  }
  .main-caption__img {
    width: 10%;
    height: 10%;
    margin: 10% 35%;
  }
  .about-astronomy {
    width: 90%;
    margin: auto;
    &__text {
      margin-top: -80%;
      width: 100%;
      margin-left: 10px;
    }
    &__img {
      width: 100%;
      margin: auto;
    }
    &__content {
      width: 100%;
      margin-left: 5px;
    }
  }
  .benefits {
    flex-wrap: wrap;
    width: 90%;
    margin-left: 50px;
  }
}