@import "./variables";

@mixin btnResetDefault {
  border: none;
  background: transparent;
  display: inline-block;
  font-size: 12px;
  outline: none;
  cursor: pointer;
}

@mixin menu-footer {
  display: flex;
  flex-direction: column;
  margin-left: 140px;
}

@mixin menu-footer_items {
  color: #FFFFFF;
  font-size: 12px;
  padding: $menu-padding;
}