#header_fix {
  top: -30px;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  padding: 15px 0; }

.default {
  position: fixed;
  top: 0;
  background-color: #002E16; }

.main-caption__fond {
  position: absolute;
  width: 550px;
  height: 225px;
  margin-top: -150px;
  margin-left: 500px;
  opacity: 0.2; }

.header__logo {
  margin-top: 48px;
  margin-left: 10%; }
  .header__logo_img {
    width: 242px;
    height: 34px; }

.header__menu {
  margin-top: 48px;
  float: right; }

.topnav__link {
  color: #ffffff;
  text-align: center;
  padding: 5px 20px; }

.topnav__link:hover {
  border-bottom: 3px solid #00e676; }

.topnav__icon {
  display: none; }

@media screen and (min-width: 1200px) {
  .header__menu {
    margin-left: 20%; } }

@media screen and (min-width: 980px) and (max-width: 1199px) {
  .header__menu {
    margin-left: 15%; }
  .main-caption__fond {
    width: 45%;
    height: 20%; } }

@media screen and (min-width: 768px) and (max-width: 979px) {
  .header__logo {
    margin-left: 2%; }
  .header__menu {
    margin-left: 3%; }
  .main-caption__fond {
    width: 45%;
    height: 20%;
    margin-left: 45%; } }

@media screen and (max-width: 767px) {
  .topnav__link {
    display: none; }
  .topnav__icon {
    float: right;
    display: block;
    color: #FFFFFF;
    font-size: 25px; }
  .header__menu {
    width: 100%; }
  .topnav.responsive {
    position: relative;
    top: 20px;
    left: -250px; }
  header.topnav.responsive {
    height: 340px; }
  .topnav.responsive .topnav__icon {
    position: absolute;
    top: -10px;
    right: -210px; }
  .topnav.responsive .topnav__link {
    display: block;
    text-align: left; }
  .header__logo {
    margin-left: 10px;
    margin-top: 25px; }
  _img {
    max-width: 100%;
    height: auto; }
  .main-caption__fond {
    width: 60%;
    height: 15%;
    margin-left: 32%;
    margin-top: -100px; } }

.main-caption {
  color: #FFFFFF;
  font-size: 30px;
  margin-left: 10%;
  margin-top: 260px;
  width: 50%; }

.main-caption__underline {
  display: block;
  width: 20%;
  height: 10px;
  margin-left: 10%;
  border-radius: 5px;
  background-color: #00E676;
  position: absolute;
  left: 0;
  transition: transform 0.5s;
  -ms-transform-origin: 1% center;
      transform-origin: 1% center;
  -ms-transform: scaleX(0);
      transform: scaleX(0); }

.main-caption__img {
  margin: 250px 440px;
  width: 99px;
  height: 72px; }

.main-caption:hover .main-caption__underline {
  -ms-transform: scaleX(0.5);
      transform: scaleX(0.5);
  -ms-transform-origin: 0 center;
      transform-origin: 0 center; }

.about-astronomy {
  margin-left: 10%;
  width: 1200px; }

.about-astronomy__img {
  width: 50%;
  margin-left: 400px;
  margin-top: -100px; }

.about-astronomy__text {
  color: #FFFFFF;
  margin-top: -430px; }

.about-astronomy__content {
  color: #FFFFFF;
  background-color: black;
  width: 37%;
  margin-top: 10px;
  font-size: 12px; }

.benefits-title {
  color: #FFFFFF;
  position: absolute;
  margin-top: 200px;
  margin-left: 10%; }

.benefits {
  margin-top: 250px;
  margin-left: 15%;
  color: #FFFFFF;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: stretch;
      justify-content: stretch; }
  .benefits__img {
    width: 50%;
    margin: 5%; }
  .benefits__main {
    margin: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px; }
  .benefits__text {
    margin: 5%;
    font-size: 18px; }

.benefits-info {
  width: 280px;
  text-align: center; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-caption {
    width: 100%; }
  .main-caption__img {
    width: 10%;
    height: 10%;
    margin: 25% 35%; }
  .about-astronomy {
    width: 90%;
    margin: auto; }
    .about-astronomy__img {
      margin: auto 130px;
      width: 90%; }
    .about-astronomy__text {
      margin-top: -50%;
      width: 90%; }
  .about-astronomy__content {
    width: 70%; }
  .benefits {
    width: 90%;
    margin-left: 5%; } }

@media screen and (max-width: 767px) {
  .main-caption {
    width: 100%;
    height: 100%;
    font-size: 90%;
    text-align: left;
    margin-top: 50%; }
  .main-caption__img {
    width: 10%;
    height: 10%;
    margin: 10% 35%; }
  .about-astronomy {
    width: 90%;
    margin: auto; }
    .about-astronomy__text {
      margin-top: -80%;
      width: 100%;
      margin-left: 10px; }
    .about-astronomy__img {
      width: 100%;
      margin: auto; }
    .about-astronomy__content {
      width: 100%;
      margin-left: 5px; }
  .benefits {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    margin-left: 50px; } }

.btn {
  width: 200px;
  height: 70px;
  border-radius: 40px;
  background-color: #00e676;
  margin-top: 10px;
  margin-left: 40px;
  font-weight: bold; }

.subscribe__btn {
  color: #00E676;
  background-color: black; }

.companies-title {
  margin-left: 10%;
  margin-top: 130px;
  margin-bottom: 60px;
  color: #FFFFFF; }

.companies {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.companies__img {
  width: 445px; }

.companies__img img {
  width: 100%; }

@media screen and (max-width: 767px) {
  .companies__img {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; } }

@media screen and (min-width: 768px) and (max-width: 979px) {
  .companies__img {
    width: 33%; } }

@media screen and (min-width: 980px) and (max-width: 1199px) {
  .companies__img {
    width: 33%; } }

.products__logo {
  margin-left: 10%;
  margin-top: 10%;
  width: 128px;
  height: 100px; }

.products__title {
  color: #FFFFFF;
  font-size: 32px;
  margin-left: 10%;
  margin-top: 60px; }

.products__info {
  color: #FFFFFF;
  width: 430px;
  margin-top: 20px;
  font-size: 12px;
  margin-left: 10%; }

.products__info_name {
  margin-top: 15px;
  margin-bottom: 60px; }

.products__info_btn {
  margin-bottom: 60px; }

.products__img_one {
  position: absolute;
  height: 457px;
  margin-top: -460px;
  margin-left: 870px; }

.products__img_two {
  position: relative;
  height: 507px;
  margin-top: -530px;
  margin-left: 900px; }

.company-employees {
  display: -ms-flexbox;
  display: flex;
  margin-top: 120px; }

.company-employees__slider {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 100px; }

.company-employees__title {
  color: #FFFFFF;
  margin-left: 10%; }

.company-employees__slider_img {
  width: 250px;
  padding: 0 15px; }

.company-employees__seo_name {
  color: #FFFFFF;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 1200px;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 100px; }

.company-employees__seo_post {
  color: #FFFFFF;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 1200px;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 100px; }

.subscribe {
  margin-top: 300px;
  background-color: #00E676;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1500px; }

@media screen and (max-width: 767px) {
  .products__info {
    width: 90%;
    margin-left: 5%; }
  .products__title {
    margin-left: 5%; }
  .products__img_one {
    margin-left: 50px;
    margin-top: 10px; }
  .products__img_two {
    margin-left: 75px;
    margin-top: -10px; }
  .company-employees {
    margin-left: -25px; }
  .company-employees__seo_post, .company-employees__seo_name {
    display: none; } }

@media screen and (min-width: 768px) and (max-width: 979px) {
  .products__info {
    width: 40%;
    margin-left: 5%; }
  .products__title {
    width: 40%;
    margin-left: 5%; }
  .products__img_one {
    margin-left: 450px;
    margin-top: -450px; }
  .products__img_two {
    margin-left: 480px;
    margin-top: -500px; }
  .company-employees {
    margin-left: -25px; }
  .company-employees__slider {
    margin-left: -150px; }
  .company-employees__seo_post, .company-employees__seo_name {
    margin-left: -150px; } }

@media screen and (min-width: 980px) and (max-width: 1199px) {
  .products__img_one {
    margin-left: 700px;
    margin-top: -460px; }
  .products__img_two {
    margin-left: 720px; }
  .company-employees {
    margin-left: -25px; }
  .company-employees__slider {
    margin-left: -150px; }
  .company-employees__seo_post, .company-employees__seo_name {
    margin-left: -80px; } }

.footer {
  margin-top: 90px;
  max-width: 1500px; }

.footer-info {
  margin-left: 10%;
  display: -ms-flexbox;
  display: flex; }
  .footer-info__language {
    width: 130px; }

.footer-info__menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-left: 140px; }
  .footer-info__menu_items {
    color: #FFFFFF;
    font-size: 12px;
    padding: 5px; }

.footer-info__settings {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-left: 140px; }
  .footer-info__settings_items {
    color: #FFFFFF;
    font-size: 12px;
    padding: 5px; }

.footer-info__contacts {
  color: #FFFFFF;
  font-size: 16px;
  margin-left: 200px; }

.footer-info__network {
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  margin-left: 980px;
  margin-bottom: 60px; }
  .footer-info__network_img {
    width: 30px;
    height: 30px;
    padding-left: 20px; }

.footer-title {
  background-color: #131313;
  height: 100px; }
  .footer-title__logo_img {
    margin-left: 10%;
    width: 150px;
    padding-top: 45px; }
  .footer-title__text {
    color: #FFFFFF;
    margin-left: 40%;
    margin-top: -25px;
    font-size: 13px; }
  .footer-title__like {
    color: #42CB29;
    margin-left: 80%;
    margin-top: -15px;
    font-size: 10px; }

@media screen and (min-width: 980px) and (max-width: 1199px) {
  .footer-info {
    margin-left: 4%; }
    .footer-info__menu {
      margin-left: 10%; }
    .footer-info__settings {
      margin-left: 5%; }
    .footer-info__contacts {
      margin-left: 10%; }
  .footer-info__network {
    margin-left: 70%; } }

@media screen and (min-width: 768px) and (max-width: 979px) {
  .footer-info {
    margin-left: 1%; }
    .footer-info__menu {
      margin-left: 5%; }
    .footer-info__settings {
      margin-left: 5%; }
    .footer-info__contacts {
      margin-left: 5%; }
  .footer-info__network {
    margin-left: 60%; } }

@media screen and (max-width: 767px) {
  .footer-info {
    margin-left: 1%; }
    .footer-info__language {
      margin-left: -7%; }
    .footer-info__menu {
      margin-left: 0%; }
    .footer-info__settings {
      margin-left: 2%; }
    .footer-info__contacts {
      margin-left: 2%;
      font-size: 12px; }
  .footer-info__network {
    margin-left: 10%;
    margin-top: 10%; }
  .footer-title__logo_img {
    margin-left: 5%;
    width: 70px;
    padding-top: 45px; }
  .footer-title__text {
    margin-left: 27%;
    font-size: 60%;
    margin-top: -10%; }
  .footer-title__like {
    margin-top: 1%;
    margin-right: 5%; } }

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

body {
  background-color: black;
  max-width: 1500px; }

a {
  text-decoration: none; }

li {
  list-style: none; }

header {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  max-width: 1500px; }
.select {
  position: relative;
  width: 120px;
  background: black; }
  .select__title {
    border: none;
    background: transparent;
    display: inline-block;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    color: #FFFFFF; }
  .select__options {
    position: absolute;
    top: 26px;
    left: 0;
    width: 100%;
    background-color: #002E16;
    box-shadow: 0 4px 20px 0px #636363;
    -ms-transform: scaleY(0);
        transform: scaleY(0);
    -ms-transform-origin: top center;
        transform-origin: top center;
    visibility: hidden;
    transition: all 0.5s;
    border-radius: 3px; }
  .select__control {
    border: none;
    background: transparent;
    display: inline-block;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: 5px;
    color: #FFFFFF; }
  .select_expand .select__options {
    -ms-transform: scaleY(1);
        transform: scaleY(1);
    visibility: visible; }
