body {
  background-color: gray; }

.notification-bar {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  border-radius: 5px; }
  .notification-bar__message {
    display: none; }
  .notification-bar_active .notification-bar__message {
    display: block; }

.box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  margin: 50px;
  height: 300px;
  width: 100px;
  border: 5px solid gray;
  border-radius: 40px;
  background-color: darkgray; }
  .box__container {
    height: 95px;
    width: 95px;
    border: 1px solid gray;
    border-radius: 50px; }
  .box__red {
    background-color: red; }
    .box__red_active {
      background-color: green; }
  .box__yellow {
    background-color: yellow; }
    .box__yellow_active {
      background-color: green; }
  .box__green {
    background-color: green; }
    .box__green_active {
      background-color: red; }
.street-lighter {
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  margin: 10px auto;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 5px; }
  .street-lighter__light {
    width: 50px;
    height: 50px;
    border: 1px solid red;
    border-radius: 50%; }
    .street-lighter__light_red.street-lighter__light_active {
      background-color: red; }
    .street-lighter__light_yellow.street-lighter__light_active {
      background-color: yellow; }
    .street-lighter__light_green.street-lighter__light_active {
      background-color: green; }
